$fontsize:25px;
$fontstyle:'Noto Sans', sans-serif;
$height:40px;
$flex:flex;
$grid:grid;
$inputborder:2px solid lightgrey;
$lineborder:0.2px solid lightgrey;
$dotborder:3px solid white;
$textcolor:grey;
$fontcolor:lightgrey;
$gap:10px;
$parent-position:relative;
$child-position:absolute;